<div *ngIf="dataLoaded">
  <div class="newAssignLayoutHeader">
    <h1>{{ label }}</h1>
  </div>

  <!--
  <div class="dataNewUserLayout">
    <p-toggleButton onIcon="pi pi-user-plus" offIcon="pi pi-user-plus" [style]="{'width':'150px'}" (onChange)="handleChange('create')" class="toggleButtons" onLabel="Create" offLabel="Create" [(ngModel)]="createCheck"  [disabled]="createCheck || pickUser"></p-toggleButton>
    <p-toggleButton onIcon="pi pi-pencil" offIcon="pi pi-pencil" [style]="{'width':'150px'}" (onChange)="handleChange('edit')" class="toggleButtons" onLabel="Edit" offLabel="Edit" [(ngModel)]="editCheck" [disabled]="!pickUser || editCheck"></p-toggleButton>
    <p-toggleButton onIcon="pi pi-trash" offIcon="pi pi-trash" [style]="{'width':'150px'}" (onChange)="handleChange('delete')" class="toggleButtons" onLabel="Delete" offLabel="Delete" [(ngModel)]="deleteCheck" [disabled]="!pickUser || deleteCheck"></p-toggleButton>
  </div>
 

  <div class="dataNewUserLayout" >
      <p-button label="Create"  (onClick)="confirm('create')" class="toggleButtons" icon="pi pi-user-plus" ></p-button>
      <p-button label="Edit"  (onClick)="confirm('edit')" class="toggleButtons" icon="pi pi-pencil" [disabled]="!pickedUser" ></p-button>
      <p-button label="Delete"  (onClick)="confirm('delete')" class="toggleButtons" icon="pi pi-trash" [disabled]="!pickedUser"></p-button>
  </div>
 -->
<!--
  <div>
    <h3>Current User Records</h3>
      <div class="p-grid p-dir-col">
        <div class="p-col">
            <div class="box">1</div>
        </div>
        <div class="p-col">
            <div class="box">2</div>
        </div>
        <div class="p-col">
            <div class="box">3</div>
        </div>
      </div>
  </div>

  <h1>Current user records</h1>

  <div>
    <div *ngIf="dataLoaded">
      <div *ngIf="isadmin">
        <div class="newUserLayoutList">
          <ul  [@newUserLayoutFallthrough]="users$">
            <li *ngFor="let user of users$; let i = index" [ngClass]="clicked === i ? 'active' : 'inactive'" (click)="select(i, user.username)">
              <a>{{user.username}} ~ {{user.fullName}} ~ {{user.role}}</a> 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  -->

  <table mat-table [dataSource]="users$" class="table" [@newAssignLayoutFallthrough]="">
    <ng-container matColumnDef="USERNAME">
      <mat-header-cell *matHeaderCellDef class="colNames"> USERNAME </mat-header-cell> 
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="FULL NAME">
      <mat-header-cell *matHeaderCellDef class="colNames"> FULL NAME </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.fullName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ROLE">
      <mat-header-cell *matHeaderCellDef class="colNames"> ROLE </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.role}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" [ngClass]="clicked === i ? 'active' : 'inactive'" (click)="select(i, row.username)"></mat-row>

  </table>


  <div>
    <div class="back" [@newAssignLayoutFallthrough]="">
      <div *ngIf="true">
        <a class="conf" routerLink="/newProjectLayout">
          <button pButton type="button" icon="pi pi-angle-left" label="Back"></button>
        </a>
        <a class="conf">
          <button pButton type="button" icon="pi pi-angle-right" label="Assign" (click)="assign()" [disabled]="!pickedUser"></button>
        </a>
      </div>
    </div>
  </div>

  <div  [@newAssignLayoutFallthrough]="" >
    <h3 class='assigned' *ngIf='true'> <font color="purple">
      Already assigned users
    </font></h3>
  </div>

  <table mat-table [dataSource]="assignedUsers" class="table2" [@newAssignLayoutFallthrough]="">
    <ng-container matColumnDef="USERNAME">
      <mat-header-cell *matHeaderCellDef class="colNames"> USERNAME </mat-header-cell> 
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="FULL NAME">
      <mat-header-cell *matHeaderCellDef class="colNames"> FULL NAME </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.fullName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ROLE">
      <mat-header-cell *matHeaderCellDef class="colNames"> ROLE </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.role}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></mat-row>

  </table>

</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>


